
<div class="row">
  <% @categories.each do |category| %>
    <h1><div class="col-md-4 text-center ">
      <%= link_to(category.name, products_path(category: category.name)) %>
    </div></h1>
  <% end %>

</div>



<div class="left" >

</div>

<div class="middle";style="">


</div>

<div class="right">

</div>
